<div>
  <br>
  <input
    id="searchBox"
    type="text"
    placeholder="Search for places..."
    class="map-search-box"
  />

  <button id="clearMarkersButton" class="clear-markers-button" type="button">
    Clear All Markers
  </button>
  <div {{did-insert this.setupMap}} style="width: 100%; height: 550px;"></div>


  {{#if this.showPlanWindow}}
    <div class="plan-selection-window">
      {{!-- Close Icon --}}
      <button class="close-button" aria-label="Close" type="button" {{on "click" this.closePlanWindow}}>
        &times;
      </button>

      <h3>{{this.selectedLocationName}}</h3>
      {{#if this.selectedPlanName}}
      <p>Associated Plan: {{this.selectedPlanName}}</p>
      {{else}}

        <div>
          {{!-- Dropdown for selecting a plan --}}
          <select class="plan-dropdown" {{on "change" this.selectPlan}}>
            <option value="" disabled selected>Select a plan</option>
            {{#each this.plans as |plan|}}
              <option
                value={{plan.id}}
                disabled={{if plan.location "disabled"}}
              >
                {{plan.planName}}
                {{#if plan.location}}
                  (Associated)
                {{/if}}
              </option>
            {{/each}}
          </select>
        </div>
      {{/if}}

      {{#if this.selectedPlanName}}
        {{!-- Delete Marker button --}}
        <button 
          class="delete-button" type="button" {{on "click" this.deleteMarker}}
        >
          Delete Marker
        </button>
      {{else}}
        {{!-- Confirm button --}}
        <button 
          class="confirm-button" disable={{this.isConfirmDisabled}} type="button" {{on "click" this.confirmPlanSelection}}
          disabled={{not this.selectedPlanId}}
        >
          Confirm
        </button>

        {{!-- Delete Marker button --}}
        <button 
          class="delete-button" type="button" {{on "click" this.deleteMarker}}
        >
          Delete Marker
        </button>
      {{/if}}

    </div>
  {{/if}}

  
</div>
