{{page-title "Map"}}
{{!-- 
<LinkTo @route="calendar">Go to Calendar</LinkTo>
<LinkTo @route="create-new-plan">Create New Plan</LinkTo> --}}
<br><br><br>

<Map
  @lat={{this.lat}}
  @lng={{this.lng}}
  @zoom={{this.zoom}}
/>

<br><br><br>

<button type="button" {{on "click" this.logout}}>Log Out</button>