{{page-title "Plans"}}

<nav class="navbar">
  <ul class="nav-links">
    {{!-- <li><LinkTo @route="index">Home</LinkTo></li> --}}
    <li><LinkTo @route="calendar">Calendar</LinkTo></li>
    <li><LinkTo @route="map">Map</LinkTo></li>
    <li><LinkTo @route="plans">Plans</LinkTo></li>
    {{!-- <li><LinkTo @route="saved-routes">Saved Routes</LinkTo></li> --}}
    <li><LinkTo @route="create-new-plan">Create New Plan</LinkTo></li>
    <li><LinkTo @route="weekly-monthly-stats">User Stats</LinkTo></li>
  </ul>
  <button class="buttonStyle" type="button" {{on "click" this.logout}}>Log Out</button>
</nav>

<br><br><br><br><br>

<h1>All Plans</h1>

{{#if this.model.length}}
  <ul class="planList">
    {{#each this.model as |plan|}}
      <li>
        <h3>{{plan.planName}}</h3>
          
        <p>
          {{!-- <strong>Category:</strong> --}}
          {{#if (eq plan.planCat "Completed")}}
            <span style="color: rgb(76, 187, 23);">{{plan.planCat}}</span>
          {{else if (eq plan.planCat "Scheduled")}}
            <span style="color: rgb(255, 192, 0);">{{plan.planCat}}</span>
          {{else if (eq plan.planCat "Absent")}}
            <span style="color: rgb(255, 86, 131);">{{plan.planCat}}</span>
          {{else}}
            {{plan.planCat}}
          {{/if}}
        </p>
        {{#if (eq plan.planCat "Scheduled")}}
          <button class="stats-button" type="button" {{on "click" (fn this.completePlan plan.id)}}>Mark as Done</button>
        {{/if}}
        <p><strong>Start Time:</strong> {{format-timestamp plan.startTime}}</p>
        {{#if plan.distance}}
          <p><strong>Distance:</strong> {{plan.distance}} miles</p>
        {{/if}}
        {{#if plan.duration}}
          <p><strong>Duration:</strong> {{plan.duration}} mins</p>
        {{/if}}
        {{#if (eq plan.location null)}}
          <p>Location: Not associated with a location</p>
        {{else}}
          {{!-- <p>Location: {{plan.location.name}} (Lat: {{plan.location.lat}}, Lng: {{plan.location.lng}})</p> --}}
          <p>Location: {{plan.location.name}}</p>
        {{/if}}

        <br>
        {{#if (eq plan.planCat "Scheduled")}}
          <button class="edit-button" type="button" {{on "click" (fn this.editPlan plan.id)}}>Edit</button>
        {{/if}}
        <button class="delete-button" type="button" {{on "click" (fn this.deletePlan plan.id)}}>Delete</button>

      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No plans found in the database.</p>
{{/if}}
