{{page-title "Weekly and Monthly Stats"}}

<nav class="navbar">
  <ul class="nav-links">
    {{!-- <li><LinkTo @route="index">Home</LinkTo></li> --}}
    <li><LinkTo @route="calendar">Calendar</LinkTo></li>
    <li><LinkTo @route="map">Map</LinkTo></li>
    <li><LinkTo @route="plans">Plans</LinkTo></li>
    <li><LinkTo @route="create-new-plan">Create New Plan</LinkTo></li>
    <li><LinkTo @route="weekly-monthly-stats">User Stats</LinkTo></li>
  </ul>
  <button class="buttonStyle" type="button" {{on "click" this.logout}}>Log Out</button>
</nav>
{{!-- <button class="buttonStyle" type="button" {{on "click" this.goBack}}>&larr; Back</button> --}}
<br><br><br><br><br>

<h1>Weekly and Monthly Stats</h1>

{{#if this.isLoading}}
  <p>Loading stats...</p>
{{else if this.error}}
  <p>{{this.error}}</p>
{{else}}
  <section class="stats-section">
    <div class="weekly-stats">
      <h2>Weekly Stats</h2>
      {{#if this.weeklyStats.length}}
        <BarChart
          @labels={{this.weeklyLabels}}
          @data={{this.weeklyData}}
          @label="Weekly Distance (km)"
        />
      {{else}}
        <p>No weekly stats available.</p>
      {{/if}}
    </div>

    <div class="monthly-stats">
      <h2>Monthly Stats</h2>
      {{#if this.monthlyStats.length}}
        <BarChart
          @labels={{this.monthlyLabels}}
          @data={{this.monthlyData}}
          @label="Monthly Distance (km)"
        />
      {{else}}
        <p>No monthly stats available.</p>
      {{/if}}
    </div>
  </section>
{{/if}}

{{!-- <button type="button" {{on "click" this.logout}}>Log Out</button> --}}

